%h1 Sign Up
= form_tag users_path do
  = label :user, :user_id, 'User ID'
  = text_field :user, 'user_id',:id => "signup_id"
  
  = label :user, :email, 'Email'
  = text_field :user, 'email',:id => "signup_email"
  
  = submit_tag 'Create my account',:id => "signup_submit"

