!!!
%html
  %head
    %title Rotten Potatoes!
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1.title Rotten Potatoes!
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      -if !@current_user						
        = button_to 'Sign up/Login', login_path,:method => :get,:id => "login"	
      -else 
        You are now logged in as #{@current_user.user_id}
        #notice.message= flash[:notice]
        = button_to 'Logout', logout_path,:method => :delete,:id => "logout"

      = yield
